.homeName{
    /* font-size: 30px;
    margin-left: 56px; */
    font-size: 30px;
    margin-left: 135px;
    font-weight: 400;
    font-family: Rubik Bold;
    font-weight: 600;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

/* .homeContanier{
    background-color: red;
} */

.img1, .img2, .img3, .img4 {
    width: 236px;
    height:250px;
    margin-left: -8px;
    margin-bottom: 18px;
    margin-top: 14px;
}

.img1hole,.img2hole ,.img3hole ,.img4hole{
    margin-bottom: 10px;
    /* border: 2px solid green; */
    border-radius: 10px;
    margin-left: 92px;
    text-align: center;
    background-color: #FFFFFF;
}

/* .homeRow1,.homeRow2{
    margin-left: -100px;
} */

.img1Description, .img2Description,.img3Description,.img4Description{
   
    margin-top: 20px;
    font-size: 20px;
    font-weight: 700;
    font-family: Roboto Medium;
    
}



.img1Unprice,.img2Unprice,.img3Unprice,.img4Unprice{
   color: #3695ce;
   font-family: Roboto Medium;
   font-size: 17px;
} 


.img1price,.img2price,.img3price,.img4price{
  
   font-family: Roboto Medium;
   font-weight: 400;
   font-size: 17px;
} 


.holeHome{
    background-color: #fafafa;
}
