nav.navbar.navbar-expand-lg.body {
    background: black;
}


.lognav{
    margin-left: -182px;
    }


    .icooo{
        margin-top: -19px;
        margin-left: 72px;
        margin-right: -27px;
    }