.fnaame{
    font-size: 30px;
    font-weight: 500;
}

.edit{
    font-size: 20px;
}

.promd2{
    font-size: 18px;
    color: #c2c2c2;
    
}
.promd3{
    font-size: 18px;

    
}

.profcont{
    /* border: 1px solid red; */
    background-color: #FFFFFF;
}

.holeProfile{
    background-color: #F2F2F2;
    min-height: 500px;
}

.noitem{
    text-align: center;
    margin-top: 150px;
    font-weight:600;
    font-size: 20px;
    /* align-items: center; */
}